.Tickets{
  display: flex;
  height: auto;
  margin: 20px 0;
  padding: 12px;
  background-color: #080808;
  border-radius: 4px;
  gap: 8px;
}
.Tickets__show-country{
  display: grid;
  place-items: center;
  width: 30%;
  height: auto;
  padding: 0 8px;
  background-color: #373737;
  border-radius: 6px;
  text-align: center;
}
.Tickets__show-passenger{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  background-color: crimson;
  border-radius: 6px;
  padding: 8px 12px;
}
.Tickets__show-passenger p{
  margin: 0 0 4px 0;
}
